/* Add transparency over light colour to navigation bar */
.topnav {
    background-color: rgba(255,255,255,0.5);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #5A5373;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #5A5373;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #5A5373;
    color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}


.test a.active {
    background-color: #5A5373;
    border-radius: 20px;
    color: white;
}

a {
    color: #5A5373;
    text-align: right;
}

a:link, a:visited {
    color: #5A5373;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

body, html {
    height: 100%;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.test a.active {
    background-color: #4CAF50;
    border-radius: 20px;
    color: white;
}